// Utility classes for text color and background color
.text-primary    { color: $color-primary !important; }
.text-secondary  { color: $color-secondary !important; }
.text-success    { color: $color-success !important; }
.text-danger     { color: $color-danger !important; }
.text-warning    { color: $color-warning !important; }
.text-dark       { color: $color-dark !important; }
.text-light      { color: $color-light !important; }

.bg-primary      { background-color: $color-primary !important; }
.bg-secondary    { background-color: $color-secondary !important; }
.bg-success      { background-color: $color-success !important; }
.bg-danger       { background-color: $color-danger !important; }
.bg-warning      { background-color: $color-warning !important; }
.bg-dark         { background-color: $color-dark !important; }
.bg-light        { background-color: $color-light !important; }
